@model List<Biblioteca.Dominio.ProdutoTipo>
@{
    ViewData["Title"] = "Cadastro de Tipos de Produto";
}

<h2 class="padding-cima-baixo">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-secondary padding-cima-baixo" type="button">Adicionar</button>
        <table class="table padding-cima-baixo">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        DESCRIÇÃO
                    </th>
                    <th>
                        PRAZO
                    </th>
                    <th>
                        MULTA (P/DIA)
                    </th>
                    <th>
                        ATIVO
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayTextFor(p => item.IdProdutoTipo)
                    </td>
                    <td>
                        @Html.DisplayTextFor(p => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayTextFor(p => item.Prazo)
                    </td>
                    <td>
                        @Html.DisplayTextFor(p => item.VlMulta)
                    </td>
                    <td>
                        @Html.CheckBoxFor(p => item.Ativo)
                    </td>
                    <td>
                        @{
                            string url = "/Produto/EditarProdutoTipo/" + item.IdProdutoTipo.ToString();
                        }
                        <a href=@url><button class="btn btn-sm btn-success" type="button">Editar</button></a>
                    </td>
                </tr>
                            }
            </tbody>
        </table>
    </div>
</div>