
@{
    ViewData["Title"] = "Cadastro de Produtos";
}
@model List<ProdutoExibicaoViewModel>

<h2 class="padding-cima-baixo">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <br />
        <a class="btn btn-secondary padding-cima-baixo" role="button" href="/Produto/EditarProduto/0">Adicionar</a>
        <br />
        <br />
        <table class="table padding-cima-baixo datatable">
            <thead>
                <tr>
                    <th class="text-center">
                        ID
                    </th>
                    <th class="text-center">
                        Descrição
                    </th>
                    <th class="text-center">
                        Tipo de Produto
                    </th>
                    <th class="text-center">
                        Autor
                    </th>
                    <th class="text-center">
                        Editora
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="text-center">
                        @item.IdProduto
                    </td>
                    <td>
                        @item.Descricao
                    </td>
                    <td>
                        @item.ProdutoTipo
                    </td>
                    <td>
                        @item.Autor
                    </td>
                    <td>
                        @item.Editora
                    </td>
                    <td>
                        <a href=@("/Produto/EditarProduto/" + item.IdProduto.ToString()) role="button" class="btn btn-success btn-sm">
                            <i class="glyphicon glyphicon-pencil"></i> Editar
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>